$vertical-words: #ee4c7c;

$background: #0e0b2a;

$navbar-links: #e3e2df;
$navbar-links-hover: white;

$footer-links: #ee4c7c;
$footer-links-hover: white;

$post-links-hover: white;


$default: #e3e2df;

$post-tag-1: #ee4c7c;
