$hide: #5d001e;
$footer-links: #9a1750;
$footer-links-hover: white;
$background: #151618;
$s-white: #e6e6e6;
$s-red: #ff4b5c;
$s-blue: #056674;
$s-green: #66bfbf;
$navbar-links: #fffef9;
$navbar-links-hover: white;
