$background: #0e0b2a;
$default: #e3e2df;

$vertical-words: #ee4c7c;
$navbar-links: #e3e2df;
$navbar-links-hover: white;
$navbar-links-background: #3e3c55;

$footer-links: #ee4c7c;
$footer-links-hover: white;

$post-tag-writing: 	#fee5fa;
$post-tag-projects: #e1fef9;
$post-links-hover: white;

$article-words: #e3e2df;
$article-code-background: RGB(255, 248, 222);

$article-text-highlight: white;
$article-text-code: black;

$scrollbar-track-background: $background;
$scrollbar-thumb-background: #ee4c7c;

$selection: #e3e2df;
$selection-background: #5f1e32;
