@import "colors";

// put colors back to its original place

.unselect {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

// fonts - landing page
.font-brand {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: $navbar-links;
}

.font-nav {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $navbar-links;
}

.font-vertical_title {
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $vertical-words;
}

// about
.font-about_title {
  font-size: 1.75rem;
  letter-spacing: 0.1em;
}

.font-about_text {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}

// post listing
.font-post_list-title {
}

.font-post_tags {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.font-post_title {
  font-weight: 600;
}

.font-post_date {
  font-weight: 700;
  letter-spacing: 0.04em;
}

// article
.font-article_title {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.font-article_info {
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 0.15em;
}

// fade
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pad-before-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

.pad-before {
  padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around {
  padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around-xlg {
  padding-top: calc(5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-lg {
  max-width: 120rem;
}

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (8 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (8 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-sm {
  max-width: 55rem;
  padding-left: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-md {
  max-width: 85rem;
  padding-left: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
}

@media screen and (min-width: 100em) {
  .wrapper,
  .wrapper-lg {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .wrapper-sm,
  .wrapper-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
