@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

@import "patterns";
@import "writing";
@import "licenses";
@import "colors";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

:after,
:before {
  box-sizing: inherit;
}

a {
  color: $default;
  text-decoration: none;
}

ul,
ol {
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
  background: $background;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  position: absolute;
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  left: 0;
  right: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  a {
    color: $navbar-links;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;

    &:hover {
      color: $navbar-links-hover;
    }
  }
}

.header-inner {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner > a {
  z-index: 3;
}

.header-brand {
  font-weight: 900;
  color: $navbar-links;
}

.header-title_page {
  position: fixed;
  top: 30%;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // flex-direction: row;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
}

.header-title_page h2 {
  color: $vertical-words;
  width: 100%;
  font-weight: 500;
  // font-size: 3vh;
  letter-spacing: 0.1em;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  background-color: transparent;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.header-nav {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 700;
  border-top: solid 2px $navbar-links;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: $background;
}

@media screen and (min-width: 650px) {
  .header-nav {
    position: relative;
    border-top: none;
    margin-left: auto;
  }
}

.header-nav ul {
  display: flex;
  align-items: center;
}

.header-nav_list > * + * {
  margin-left: 1.25rem;
}

.header-nav_list li {
  padding: 1.1rem 0 1.1rem 0;
}

.footer {
  flex-shrink: 0;
  z-index: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 650px) {
  .footer {
    padding-bottom: 5.45rem;
  }
}

.footer-socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  svg {
    width: 50px;
    padding: 0 10px 0 10px;
    fill: $footer-links;
    -webkit-transition: fill 0.3s ease;
    -moz-transition: fill 0.3s ease;
    -ms-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;

    &:hover {
      fill: $footer-links-hover;
    }
  }
}

.about {
  letter-spacing: 0.1em;
  text-align: center;
  padding-left: 8.25rem;
  padding-right: 8.25rem;
}

.about h2 {
  font-size: 1.75rem;
}

.about div {
  font-size: 2rem;
}

// hr {
//   width: 20%;
//   margin-top: 30px;
//   margin-bottom: 30px;
//   border-style: inset;
//   border-width: 1px;
// }

.about p {
  font-size: 1.25rem;
}

// .not-found {
//   font-size: 2rem;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   padding: 0 15px 0 15px;
// }
