@import "colors";

//different tag colors for writing and projects.
//docker
//add hover to post links
//fix wrapper

.article-title {
  text-align: center;
  padding-bottom: 70px;
}

.article-title h1 {
  padding-bottom: 20px;
}

.article-content {
}

.content {
  flex: 1 0 auto;
  z-index: 2;
  color: $default;
}

// .content-wrapper {
//   max-width: 1380px;
//   padding-left: 100px;
//   padding-right: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 150px;
//   margin-bottom: 100px;
// }

// @media screen and (max-width: 900px) {
//   .content-wrapper {
//     padding-left: 8vw;
//     padding-right: 8vw;
//     margin-bottom: 16vw;
//   }
// }

//   .content-post_list {
//   padding-left: 8.25rem;
//   padding-right: 8.25rem;
// padding-left: 30px;
// padding-right: 30px;
// padding-top: 34px;
// padding-bottom: 30px;
// -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
// transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
// }]

.content-post_list > * + * {
  margin-top: 2.75rem;
}

.content-post_tags_wrapper {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.post-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tag-writing {
  background-color: $post-tag-1;
}

.tag-projects {
  background-color: $post-tag-1;
}

.post-date {
  margin-left: 15px;
}

.post-title {
  padding-bottom: 0.75rem;
}

.post-description {
  padding-bottom: 1.75rem;
}

.post-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    $default 60%,
    rgba(255, 255, 255, 0) calc(50% + 3px),
    rgba(255, 255, 255, 0) 100%
  );
}

.post-footer > * {
  background-color: $background;
}

.post-footer > div {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.post-footer > a {
  padding-left: 1rem;
}

.post-link + .post-link {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: solid 1px $default;
}

.see_post_arrow {
  visibility: hidden;
  opacity: 0;
  padding-left: 4px;
  transition: visibility 0.2s linear, opacity 0.2s linear;
}

.see_post:hover + .see_post_arrow {
  visibility: visible;
  opacity: 1;
}
