{% extends "index.html" %}

{% block content %}
<div class="c-wrapper c-wrapper-md content-wrapper ps">
  <ul class="content-post_list">
    {% for post in section.pages %}
    <li>
      <div class="content-post_tags_wrapper">
        {% if post.taxonomies.tags %}
        <div class="post-tags_flex-wrapper">
          {% for tag in post.taxonomies.tags %}
          <span class="post-tag tag-writing font-post_tags">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
        <div class="post-date_flex-wrapper">
          <span class="post-date">{{ post.extra.date_fmt }}</span>
        </div>
      </div>
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-description">{{ post.extra.abstract }}</p>
      <footer class="post-footer">
        {% if post.extra.platforms %}
        <div class="post_external-links">
          {% for platform in post.extra.platforms %}
          {% set index = loop.index - 1 %}
          <a href="{{ post.extra.platform_links[index] | safe }}" class="post-link post-link-writing"> {{ platform }}
          </a>
          {% endfor %}
        </div>
        {% endif %}
        <div class="post_read-post">
          <a class="read-post-link post-link-writing" href="{{ post.permalink | safe }}"><span class="see_post">See
              post</span><span class="see_post_arrow">→</span></a>
        </div>
      </footer>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}